body {
    font-family: Arial, sans-serif;
    background-color: #2b2f33;
    color: #e3e3e3;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, label {
    color: #fff;
}

.loadingContainer {
    display: none;
    text-align: center;
}

.loading-message{
    text-align: center;
}
.center-title {
    text-align: center;
    margin-bottom: 20px;
}

#loading-message {
  font-size: 1.2rem;
  color: #007bff;
  display:none;
}


#error-message,
#checkbox-error {
  color: red;
  display: none;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.players, .search-form {
    width: 45%;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background-color: #7289da;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #5b6eae;
}

select, input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    color: #7289da;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    text-decoration: underline;
}
