<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
  <title>SleeperTools - Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="creator-label">Created by: StickyPicky</div>
  <h1 class="center-title">Sleeper Fantasy Football Tools</h1>
  <div class="container">
    <div class="players">
      <h2>Choose a Tool</h2>
      <ul>
        <li class="link-item">
          <a href="{{ url_for('index_page') }}" class="tool-link">Player Stock</a>
        </li>
        <!-- <li class="link-item">
          <a href="{{ url_for('not_rostered') }}" class="tool-link">Not Rostered</a> -->
        </li>
        <li class="link-item">
          <a href="{{ url_for('username_compare_page') }}" class="tool-link">Username Compare</a></li>
        </li>
        <li class="link-item">
          <a href="{{ url_for('league_compare_page') }}" class="tool-link">League Compare</a></li>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
