<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>League Compare</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="creator-label">Created by: StickyPicky</div>
  <h1 class="center-title">Compare Players in League</h1>
  <div class="container centered-form-wrapper">
    <form action="{{ url_for('league_compare') }}" method="post">
      <div class="search-form">
        <label for="league_id">Enter League ID:</label>
        <input type="text" id="league_id" name="league_id" required>
        <div class="year-selector">
          <label for="years">Select Years to Compare:</label><br>
          {% for year in range(current_year, 2016, -1) %}
            <label>
              <input type="checkbox" name="years" value="{{ year }}" {% if year == current_year %}checked{% endif %}>
              {{ year }}
            </label>
          {% endfor %}
        </div>
        <button type="submit">Compare League</button>
      </div>
    </form>
  </div>
  <a href="{{ url_for('home') }}">Back to Home</a>
  
</body>
</html>
