<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Not Rostered Player Search</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <h1 class="center-title">Search Players Not Rostered for {{ username }} Leagues</h1>
  <a href="{{ url_for('home') }}">Back to Home</a>

  <div class="container">
    <div class="search-form">
      <h2>Search for a Player</h2>
      <form action="{{ url_for('search_not_rostered') }}" method="post">
        <input type="hidden" name="username" value="{{ username }}">
        <label for="player_name">Enter Player Name:</label>
        <input type="text" id="player_name" name="player_name" required>
        <button type="submit">Search</button>
    </form>


      {% if not_rostered_results %}
        <h3>{{ not_rostered_results|length }} out of a total of {{ total_league_count }} Leagues Where {{ player_name }} Is Not Rostered</h3>
        <p>Here are the leagues where {{ player_name }} is not on a roster:</p>
        <ul>
          {% for league in not_rostered_results %}
            <li class="league-item"><span class="league-name">{{ league }}</span></li>
          {% endfor %}
        </ul>
      {% elif player_name %}
        <h3>{{ player_name }} is on a roster in all your leagues.</h3>
      {% endif %}
    </div>
  </div>
</body>
</html>
