<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Username Comparison</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="creator-label">Created by: StickyPicky</div>
  <h1 class="center-title">Leagues in Common</h1>
  <div class="container">
    <div class="players">
      <h2>{{ username1 }}: {{ total1 }} leagues</h2>
      <h2>{{ username2 }}: {{ total2 }} leagues</h2>
      <h3>{{ shared_count }} leagues in common</h3>

      {% if shared_leagues %}
        <ul>
          {% for league in shared_leagues %}
            <li class="league-item"><span class="league-name">{{ league }}</span></li>
          {% endfor %}
        </ul>
      {% else %}
        <p>No common leagues found.</p>
      {% endif %}
    </div>
  </div>
  <a href="{{ url_for('home') }}">Back to Home</a>
  <a href="{{ url_for('username_compare_page') }}">Back to Username Compare Search</a>
</body>
</html>
